<section class="block-group">
    {% content_for 'blocks' %}
  </section>
  
  {% schema %}
  {
    "name": "Group",
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "presets": [
        {
        "name": "Group"}
    ]
  }
  {% endschema %}
  