<section>
  {% content_for 'blocks' %}
</section>

{% schema %}
{
  "name": "Custom Section",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
    "name": "Custom Section"
}
  ]
}
{% endschema %}
